@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Figtree";
}

.examples {
  border: 2px solid #000;
  box-shadow: 10px 10px 0px 0px #000;
}

.slick-slide {
  padding: 16px;
}

.person {
  border: 2px solid #000;
  box-shadow: 10px 10px 0px 0px #000;
}

 .carousel{
  display: flex;
  flex-direction: row;
 }